* text=auto eol=crlf

*.php text eol=crlf
*.md text eol=crlf
*.json text eol=crlf
*.xml text eol=crlf
*.csv text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.gitignore text eol=crlf
*.gitattributes text eol=crlf

vendor/** -text
Storage/ContactFinder/** -text